#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100% !important;
    height: 100% !important;
  }
  
  .swiper-slide {
    text-align: center !important;
    font-size: 18px !important;
    background: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .swiper-slide img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal{
    margin-bottom: -12px !important;
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer !important;
  }

  .swiper-pagination-bullet{
    background-color: #0d9489c6 !important;
    width: 10px !important;
    height: 10px !important;
  }
  
  .swiper-pagination-bullet-active{
    background-color: #0D9488 !important;
  }

  .swiper{
    height: 100% !important;
  }

  .swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,48%) !important;
    background-color: rgba(255, 255, 255, 0.327) !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 20px;
    margin: 0px !important;
    padding: 0px !important;
    --swiper-navigation-size: 15px !important;
    --swiper-theme-color: rgb(255, 255, 255) !important;
    transition: all 300ms !important;
  }

  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.52) !important;
  }

  .swiper-button-next:active, .swiper-button-prev:active {
    background-color: rgba(87, 85, 85, 0.951) !important;
  }

  .swiper-button-prev {
    margin-left: -8px !important;
  }
  .swiper-button-next {
    margin-right: -8px !important;
  }

/*Sweet Alert 2*/    

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(255, 255, 255, 0.361)!important;
}

.swal2-popup{
  background-color: #18181B !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}


.swal2-html-container{
  color: #FFFFFF !important;
}


/*Botones de Sweet Alert 2*/
.swal2-confirm{
  background-color: transparent !important;
  border: 1px solid grey !important;
  box-shadow: none !important;
}

.swal2-confirm:hover{
  background-color: #0D9488 !important;
}

.swal2-deny{
  background-color: transparent !important;
  border: 1px solid grey !important;
  box-shadow: none !important;
}

.swal2-deny:hover{
  background-color: #C53C3C !important;
}



